@import "../../../mixins.scss";
header {
    @include dFlex(space-between, center, row, 0px);
    max-height: 108px;
    height: 108px;
    padding: 0 96px;
    > .logo {
        width: 200px;
    }
    @media (max-width: 768px) {
        padding: 0 16px;
    }
    @media (max-width: 1024px) {
        > .logo {
            width: auto;
            height: 40px;
        }
    }
}

.backButton {
    height: 48px;
    width: 48px;
}
