@import "../mixins.scss";
section {
  background: linear-gradient(180deg, #000000 -19.89%, rgba(0, 0, 0, 0.55) 40.46%, #000000 100%),
    url("../assets/img/bg_landing.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}
.main {
  flex-grow: 1;
  @include dFlex(start, stretch, column, 0px);
  margin: 0 16px;
}
