version: '3'

services:
  # acme-companion:
  #   image: nginxproxy/acme-companion
  #   container_name: acme-companion
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock:ro
  #     - ./certs:/etc/nginx/certs
  #     - ./html:/usr/share/nginx/html
  #   environment:
  #     - DEFAULT_EMAIL=marco.engelhardt@reussnet.ch
  #     - NGINX_PROXY_CONTAINER=nginx-proxy
  #   depends_on:
  #     - nginx-proxy
  #   networks:
  #     - webproxy

  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs:ro
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - ./default.conf:/etc/nginx/conf.d
      - ./backend/staticfiles:/usr/src/app/staticfiles
      - ./backend/media:/usr/src/app/media
    environment:
      - VIRTUAL_HOST=videoflix.marco-engelhardt.ch
      - LETSENCRYPT_HOST=videoflix.marco-engelhardt.ch
      - LETSENCRYPT_EMAIL=marco.engelhardt@reussnet.ch
    networks:
      - webproxy
      - app-network
      
  # web:
  #   image: nginx:alpine
  #   container_name: web
  #   volumes:
  #     - ./frontend/dist/frontend_videoflix/browser:/usr/share/nginx/html
  #     - ./backend/staticfiles:/usr/src/app/staticfiles
  #     - ./backend/media:/usr/src/app/media
  #   environment:
  #     - VIRTUAL_HOST=videoflix.marco-engelhardt.ch
  #     - LETSENCRYPT_HOST=videoflix.marco-engelhardt.ch
  #     - LETSENCRYPT_EMAIL=marco.engelhardt@reussnet.ch
  #   networks:
  #     - app-network
  
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    volumes:
      - ./backend:/usr/src/app
      - ./backend/static:/usr/src/app/static
      - ./backend/media:/usr/src/app/media
    working_dir: /usr/src/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - postgres
    networks:
      - app-network
    environment:
      - DJANGO_SETTINGS_MODULE=videoflix.settings
    command: ["bash", "/usr/src/app/start_service.sh"]

  redis:
    image: "redis:latest"
    container_name: redis
    command: ["redis-server"]
    ports:
      - "6379:6379"
    networks:
      - app-network

  postgres:
    image: "postgres:17"
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    networks:
      - app-network

  rqworker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: rq_worker
    volumes:
      - ./backend:/usr/src/app
    working_dir: /usr/src/app
    command: python manage.py rqworker default
    depends_on:
      - redis
      - postgres
    networks:
      - app-network
    environment:
      - DJANGO_SETTINGS_MODULE=videoflix.settings

volumes:
  postgres_data:

networks:
  webproxy:
    external: true
  app-network:
    driver: bridge

