<section class="background">
    <div class="intro" *ngIf="randomVideo" style="position: relative; max-height: 45vh; overflow: hidden;">
        <div>
            <video [autoplay]="autoplay" [muted]="true" playsinline [loop]="true" class="background-video">
                <source [src]="getFullVideoUrl(randomVideo.teaser_file)" type="video/mp4">
            </video>
        </div>
        <div class="videoDescription">
            <span class="fs-88-700 randomTitle white">{{ randomVideo.title }}</span>
            <span class="fs-16 white">{{ randomVideo.description }}</span>
            <button class="button" [routerLink]="['/video', randomVideo.slug]">
                <img src="../../../assets/img/play.svg" alt="Play icon" /> Play
            </button>
        </div>
    </div>
    <div class="video-overlay"></div>
    <div class="categoryOverview">
        <div class="categorys">
            <div class="category" *ngFor="let category of getCategories(); let i = index">
                <div class="categoryName white">
                    <h3>{{ category }}</h3>
                </div>
                <div class="catergoryMovies white"
                    *ngIf="getVideosByCategory(category) && getVideosByCategory(category).length > 0">
                    <div *ngFor="let video of getVideosByCategory(category); let j = index">
                        <div class="catergoryMovies white">
                            <p *ngIf="(uploadStatus | async)?.[j] === 'Uploading'" class="uploadStatus fs-18-700 white">
                                Uploading...
                            </p>
                            <a [routerLink]="['/video', video?.slug]"
                                [class.disabled]="(uploadStatus | async)?.[j] === 'Uploading'">
                                <img [src]="video.thumbnail" alt="video thumbnail">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ngx-spinner color="var(--purple)" type="ball-scale-multiple"></ngx-spinner>