@import "../../../mixins.scss";
.wrapper {
    @include border(1px, white, 40px);
    // @include dFlex(center, flex-start, column, 32px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    max-width: 520px;
    padding: 43px 56px;
    background-color: var(--white);
    margin: 0 auto;
    @media (max-width: 590px) {
        padding: 28px 32px;
    }
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.input-container {
    position: relative;
    width: 100%;
}

.input-field {
    @include border(1px, #2e3edf, 12px);
    width: 100%;
    padding: 12px 24px;
    padding-right: 40px;
    background-color: transparent;
    &::placeholder {
        color: var(--purple);
        opacity: 1;
    }
    &::-webkit-input-placeholder {
        color: var(--purple);
        opacity: 1;
    }
    &::-moz-placeholder {
        color: var(--purple);
        opacity: 1;
    }
    &::-ms-input-placeholder {
        color: var(--purple);
        opacity: 1;
    }

    &:focus {
        border: 2px solid var(--purple);
        outline: none;
    }
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.close-eye {
    background-image: url("../../../assets/img/close-eye.svg");
}
.open-eye {
    background-image: url("../../../assets/img/open-eye.svg");
}

.signUp {
    @include dFlex(center, center, row, 16px);
}

small {
    color: red;
}

img {
    border: 0;
}
