<div class="wrapper border-green">
    <span class="fs-48-700 purple">Log In</span>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
            <input class="input-field purple" id="email" type="email" formControlName="email"
                placeholder="EMail Address" />
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <small *ngIf="loginForm.get('email')?.hasError('invalidEmail')">Please check your entries and try again.</small>
            </div>
        </div>
        <div>
            <div class="input-container">
                <input class="input-field purple" id="password" type="{{ showPassword ? 'text' : 'password' }}"
                    formControlName="password" placeholder="Password" />
                <div class="toggle-password" (click)="togglePasswordVisibility()"
                    [ngClass]="showPassword ? 'close-eye' : 'open-eye'"></div>
            </div>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <small *ngIf="loginForm.get('password')?.errors?.['required']">Please check your entries and try again.</small>
                <small *ngIf="loginForm.get('password')?.errors?.['minlength']">
                    Please check your entries with at least 6 characters
                </small>
            </div>
        </div>
        <!-- <div class="black">
            <input type="checkbox" id="rememberMe" formControlName="rememberMe" />
            Remember me
        </div> -->
        <button class="button" type="submit" [disabled]="loginForm.invalid"
            [ngClass]="{'invalid-button': loginForm.invalid}">Login</button>
    </form>
    <span class="fs-18-700 purple link" routerLink="/resetpassword">Forgot password?</span>
    <div class="signUp">
        <span class="fs-18-700 black">New to Videoflix?</span>
        <span class="fs-18-700 purple link" routerLink="/register">Sign Up now</span>
    </div>
</div>
<ngx-spinner color="var(--purple)" type="ball-scale-multiple"></ngx-spinner>