<div *ngIf="videoData" class="video-detail white">
  <div class="title">
    <h1 class="fs-48-700">{{ videoData.title }}</h1>
  </div>
  <vg-player>
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>
    <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>
    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>
      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      <vg-track-selector></vg-track-selector>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen></vg-fullscreen>
    </vg-controls>
    <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" crossorigin>
      <source src="{{videoData.hls_playlist}}" type="application/x-mpegURL">
    </video>
  </vg-player>
  <p>{{videoData.hls_playlist}}</p>
  <!-- <media-player title="{{ videoData.title }}" src="{{videoData.hls_playlist}}" stream-type="on-demand"
    poster="{{ videoData.thumbnail }}" load="play" storage-key="video-progress-{{ videoData.id }}">
    <media-provider>
    </media-provider>
    <media-plyr-layout></media-plyr-layout>
  </media-player> -->
  <!-- <div>Evtl kann ich hier noch liken</div> -->
  <p class="description fs-18">{{ videoData.description }}</p>
</div>
<!-- Zeige eine Lade-Nachricht an, solange die Daten geladen werden -->
<div *ngIf="!videoData">
  <p class="red">Lade das Video...</p>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>