<div *ngIf="videoData" class="video-detail white border-red">
  <div class="title">
    <h1 class="fs-48-700">{{ videoData.title }}</h1>
  </div>
  <media-player title="{{ videoData.title }}" src="{{pictureUrl}}{{videoData.hls_playlist}}" stream-type="on-demand"
    poster="{{ videoData.thumbnail }}" load="play">

    <media-provider>
    </media-provider>
    <media-plyr-layout></media-plyr-layout>
  </media-player>
  <div>Evtl kann ich hier noch liken</div>
  <p class="description">{{ videoData.description }}</p>
</div>
<!-- Zeige eine Lade-Nachricht an, solange die Daten geladen werden -->
<div *ngIf="!videoData">
  <p class="red">Lade das Video...</p>
</div>