<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <title>Reset password - Videoflix</title>
</head>
<style>
  .wrapper {
    display: flex;
    justify-content: center;
    flex-grow: 1;
  }
</style>

<body>
  <div class="wrapper">
    <img src="https://videoflix.marco-engelhardt.ch/logo.png" alt="Videoflix Logo" width="200" />
    <p>Dear {{ user.username }},</p>
    <p>Klicke auf den folgenden Link, um dein Passwort zurückzusetzen:</p>
    <a href="{{ reset_link }}">Passwort zurücksetzen</a>
    <p>Dieser Link ist nur einmal gültig und läuft nach einer bestimmten Zeit ab.</p>
  </div>
</body>

</html>