@import "../../../mixins.scss";
.container {
  @include dFlex(center, center, column, 16px);
  max-width: 520px;
  height: 200px;
  background-color: aliceblue;
  border-radius: 30px;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.timeout {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  animation: 3s in-out forwards;
  background-color: var(--purple);
}

@keyframes in-out {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
