<div class="wrapper">
    <!-- <video #targetVideo id="videoPlayer" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="none"
        width="640" height="264">
        <source [src]="videoSrc" type="application/x-mpegURL">
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video> -->
    <media-player #targetVideo playsinline [title]="title" [src]="videoSrc" [poster]="poster"
        (play)="eventFired('play')" (pause)="eventFired('pause')" [class.hide-overlay-play]="savedTime > 0">
        <media-provider></media-provider>
        <media-plyr-layout>
        </media-plyr-layout>
    </media-player>
    <div class="resume-overlay" *ngIf="showResumeButton">
        <button (click)="resumeVideo()" class="resume-btn">Weiterschauen?</button>
    </div>
</div>