.wrapper {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.resume-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Halbdurchsichtiger Hintergrund */
    padding: 20px;
    border-radius: 8px;
}

.resume-btn {
    font-size: 16px;
    color: white;
    background-color: var(--purple);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.resume-btn:hover {
    background-color: var(--lightpurple);
}

::ng-deep .vjs-big-play-button {
    background-color: var(--purple) !important;
    border: var(--lightpurple) !important;
    color: #fff !important;
}

::ng-deep .vjs-volume-control {
    color: var(--purple) !important;
}

::ng-deep media-google-cast-button {
    display: none;
}

::ng-deep .hide-overlay-play .plyr.plyr--video .plyr__control--overlaid {
    display: none;
}
