<div class="wrapper">
    <span class="fs-48-700 purple">Forgot your password?</span>
    <span class="fs-18 black">We will send you an email with instructions to reset your password.</span>
    <span *ngIf="emailSent" class="fs-18-700 green">Email has been sent successfully. Please check your emails.</span>
    <form [formGroup]="resetPassword" (ngSubmit)="reset()">
        <div>
            <input class="input-field purple" id="email" type="email" formControlName="email"
                placeholder="EMail Address" />
            <div *ngIf="resetPassword.get('email')?.invalid && resetPassword.get('email')?.touched">
                <small *ngIf="resetPassword.get('email')?.hasError('invalidEmail')">Invalid Email adresse</small>
            </div>
        </div>
        <button class="button" type="submit" [disabled]="resetPassword.invalid"
            [ngClass]="{'invalid-button': resetPassword.invalid}">
            Send Email
        </button>
    </form>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>