<div class="wrapper">
  <span class="fs-48-700 purple">Password reset</span>
  <form [formGroup]="passwordForm" (ngSubmit)="handlePasswordReset()">
    <div>
      <div class="input-container">
        <input class="input-field purple" id="newPassword" type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="newPassword" placeholder="New password" />
        <div class="toggle-password" (click)="togglePasswordVisibility()"
          [ngClass]="showPassword ? 'close-eye' : 'open-eye'"></div>
      </div>
      <div *ngIf="passwordForm.get('newPassword')?.invalid && passwordForm.get('newPassword')?.touched">
        <small *ngIf="passwordForm.get('newPassword')?.errors?.['required']">Password is required</small>
        <small *ngIf="passwordForm.get('newPassword')?.errors?.['minlength']">
          Password must be at least 6 characters long
        </small>
      </div>
    </div>
    <div>
      <div class="input-container">
        <input class="input-field purple" id="confirmPassword" type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="confirmPassword" placeholder="Confirm password" />
        <div class="toggle-password" (click)="togglePasswordVisibility()"
          [ngClass]="showPassword ? 'close-eye' : 'open-eye'">
        </div>
      </div>
      <div>
        <div *ngIf="passwordForm.get('confirmPassword')?.invalid && passwordForm.get('confirmPassword')?.touched">
          <small *ngIf="passwordForm.get('confirmPassword')?.errors?.['required']">Password is required</small>
          <small *ngIf="passwordForm.get('confirmPassword')?.errors?.['minlength']">
            Password must be at least 6 characters long
          </small>
        </div>
      </div>
    </div>
    <button class="button" type="submit" [disabled]="passwordForm.invalid"
      [ngClass]="{'invalid-button': passwordForm.invalid}">Reset password</button>
    <div *ngIf="resetStatus" class="red">{{ resetStatus }}</div>
  </form>
</div>